*{
	margin:0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: -webkit-pictograph;
}



#heading{
	background-color: black;
	color: white;
	padding: 10px;
	height: 80px;
}
#navbar{
	/*background-color: #09103af7;*/

	margin: auto;
	height:auto;
	width: 70%;

}
#login a{
	color: white;
}
.logo{
	display: flex;
	justify-content: space-between;
}
.logo #webname{
	padding: 10px;


}
.logo #contact{
	display: flex;
    align-items: center;
    font-size: 14px;
}
#contact .titlebar{
	margin: 0px 20px;
}
#navbar #row{
	margin-top: -20px;
	background-color: #09103af7;
		border-radius: 6px;
		position: relative;
    z-index: 2;
        border: 1px solid #156db0;

}

 #navbar #row li{
	display: inline-block;
	padding:4px;


}
#navbar #row li a{
	color: white;
	padding: 5px 11px;
    font-size: 19px;
    font-family: -webkit-pictograph;
}
#social i{
	cursor: pointer;
	margin: 0px 5px;
}

.flex #tag{
    clip-path: polygon(11% 0%,100% 22%,91% 100%,35% 73%,0% 82%);
	 display:inline-block;
    background-color: #061640;
	 padding: 30px 20px;
    position: relative;
    top: 65%;
    left: 95%;
    transform: translate(-85%, -95%);
        color: floralwhite;
    font-family: monospace;
    text-align: center;
}
.tit{
  font-size: 28px;
  font-weight: bold;
  margin: 5px 20%;
}
.featured{
	    margin: 4% auto;
    width: 70%;

}
.featured .res{
	
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: linear-gradient(to right,#192d63,black);
    padding: 8px;
    font-size: 18px;
    margin: 3px 0px;
}
.featured .res a{
	border: 2px solid white;
	border-radius: 5px;
	font-size: 16px;
	padding: 3px 8px;
	cursor: pointer;
	color: white;
}
.featured .res a:hover{
	color: black;
	transition:.6s;
	background-color:#fff;
}
.featured .res p i{
	margin: 0px 5px;
}


.flex{
	  	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/back.jpg);
	  	height: 80vh;
	    position: relative;
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    margin-top: -20px;
}

.flex h1{
	    position: relative;
    top: 30%;
    left: 66%;
    transform: translate(-54%, -87%);
    color: floralwhite;
}
.steps{
	    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.steps .st{
    padding: 15px 39px;
    width: -webkit-fill-available;
    color:white; 
}
.steps #one{
	      background-color: #1e310e;
}
.steps #two{
	        background-color: #0e312e;
}
.steps #three{
        background-color: #310d0d;
}

.foo{
    background: black;
    color: #948f86;
    text-align: center;
    padding: 40px 0px;
    clear: both;
    margin-top: 20px;
}

.foo a{

	border: 1px solid white;
	border-radius: 5px;
	font-size: 16px;
	padding: 3px 12px;
	cursor: pointer;
	color: white;
	margin: 20px 0px;

}
.foo p{
	margin-bottom: 12px;
}
.foo a:hover{
	    background-color: #2c2b2b;
}
.boxes{
    display: flex;
    flex-direction: column;
  align-items: center;justify-content: center;
        background-color: #eee9e9;
        padding-top:20px;

}

.boxes .card{
   
    text-align: center;
    font-size: 19px;

    color: black;
    padding: 5px 10px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.boxes .card{
	    align-self: flex-start;
}

.boxes .card img{
	    width: auto;
    height: 150px;
}


.trusted{
  width: 100%;
  margin-top: 28px;
}

.trusted .resImg{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;  margin-top: 28px;


}
.resImg img{
	width: 170px;
	height: auto;
	  margin: 28px;
}
.bullet{
	text-align: center;
	font-weight: bold;
	margin: 28px 0px;

}
.wellness{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 35px 0px;
}
.fx img{
	width: auto;
	height: 120px;
}

.fx{
	display: flex;
	justify-content: center;align-items: center;
	flex-direction: column;
}
.fx p{
	padding-top: 10px;
	font-size: 20px;
	font-weight: bold;
}
.para{
	width: 50%;
    text-align: justify;
    padding: 25px;
    background-color: #040d4263;
    color: floralwhite;
    margin: 20px 5px;
    font-size: 17px;
}

.para #title{

    font-size: 25px;
    border-bottom: 1px solid #c7b8b8;
    margin-bottom: 15px;

}
.about{
	  	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/about.jpg);
	  	height: 100vh;
	    position: relative;
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    margin-top: -20px;
}

.about .sections{
	    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% auto;
}
.sections .b2{
	background: #fff;
    color: black;
    padding: 10px 15px;
    margin-right: -15px;
    z-index: 1;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,82% 74%,0% 100%);
}

.hotels
{
	margin: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hotels .rescard{
  box-shadow: 0 4px 18px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  width: 30%;
  height: 18rem;
  margin: 12px 0px;
  cursor: pointer;
  overflow: hidden;
}

.rescard img:hover{
    transform: scale(1.1);
}

.hotels .rescard img{
	width: 100%;
    height:70%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: all .2s ease-in-out;
}


.hotels .rescard .container{
	padding:3px 16px;
}

#ratings{
	display: flex;
    justify-content: space-between;
}

#ratings p{
	    background: green;
    display: block;
    width: fit-content;
    color: white;
    font-weight: 600;
        font-size:0.8rem;
    padding:0.2rem;
    border-radius: 5px;
}
.rescard .container{
	font-size: 0.8rem;
}


/*menu*/
.tab {
  float: left;
  /*border: 1px solid #ccc;*/
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  /*border: 1px solid #ccc;*/
  width: 60%;
  border-left: none;
  height: 300px;
}
.tabcontent .foods{
	display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e3d2d2;
    background: cadetblue;
    color: white;
    padding: 4px; border-radius: 10px;
}
.tabcontent .foods img{
   width:5rem;
   height: auto;
   object-fit: cover;
   border-radius: 5px;
}
.tabcontent .foods button{
	background: black;
    color: white;
    font-weight: 600;
    padding: 3px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 10px;

}

.menucard{
	display: none;
	margin: 20px;

}

